.frameChild {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--white-40);
  backdrop-filter: blur(26px);
  height: 950px;
  display: none;
}
.cheesePizza {
  color: var(--black);
}
.recipe {
  color: var(--color-rosybrown);
}
.cheesePizza350recipeContainer1 {
  width: 100%;
}
.cheesePizza350recipeContainer {
  margin: 0;
  height: 66px;
  width: 766px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.cheesePizza350recipeContainer,
.cookingTine,
.levelOfDifficulty,
.medium,
.mins,
.mins1,
.prepTime {
  font-family: var(--notification-2);
}
.prepTime10Container1 {
  width: 100%;
}
.prepTime10Container {
  width: 767px;
  font-size: var(--body-1-size);
  color: var(--black);
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameItem,
.image16Icon,
.prepTime10Container {
  position: relative;
  max-width: 100%;
}
.image16Icon {
  height: 305px;
  width: 767px;
  border-radius: var(--br-mini);
  object-fit: cover;
}
.frameItem {
  width: 766px;
  max-height: 100%;
  object-fit: contain;
  margin-top: -2px;
}
.ingredients,
.text {
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
}
.ingredients {
  width: 515px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.text {
  height: 27px;
  flex: 1;
  display: inline-block;
}
.cell,
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text1 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell1,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell1 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text2 {
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
}
.cell2,
.content2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell2 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text3 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell3,
.content3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell3 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text4 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.cell4,
.content4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content4 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell4 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text5 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.cell5,
.content5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell5 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text6 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell6,
.content6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content6 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell6 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text7 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell7,
.content7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content7 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell7 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text8 {
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
}
.cell8,
.content8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content8 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell8 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text9 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell9,
.content9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content9 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell9 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text10 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.cell10,
.content10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content10 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell10 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text11 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.cell11,
.content11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content11 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell11 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text12 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell12,
.content12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content12 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell12 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text13 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell13,
.content13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content13 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell13 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text14 {
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
}
.cell14,
.content14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content14 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell14 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text15 {
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
}
.cell15,
.content15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content15 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell15 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text16 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.cell16,
.content16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content16 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell16 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text17 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.cell17,
.content17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content17 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell17 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text18 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.cell18,
.content18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content18 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell18 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text19 {
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
}
.cell19,
.content19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content19 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell19 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.text20 {
  height: 27px;
  flex: 1;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.content20 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell20 {
  height: 36px;
  width: 165px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 66px;
}
.cell20,
.ingredients1,
.ingredients2,
.table {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.table {
  align-self: stretch;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 252px;
}
.ingredients1,
.ingredients2 {
  flex-direction: column;
}
.ingredients2 {
  align-self: stretch;
  min-height: 263px;
}
.ingredients1 {
  width: 496px;
  max-width: 100%;
}
.frameInner,
.procedures {
  position: relative;
  max-width: 100%;
}
.frameInner {
  width: 766px;
  max-height: 100%;
  object-fit: contain;
}
.procedures {
  height: 25.4px;
  width: 515px;
  font-size: var(--body-1-size);
  display: flex;
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  align-items: center;
  flex-shrink: 0;
}
.addTheSauce,
.bakeThePizza,
.preheatYourOven,
.prepareThePizza,
.rollOutThe,
.seasonAndDrizzle,
.sliceAndServe,
.sprinkleWithCheese,
.transferTheDough {
  margin-bottom: 0;
}
.preheatYourOvenPreheatYou {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.blankLine,
.feelFreeTo {
  margin: 0;
}
.preheatYourOvenContainer1 {
  width: 100%;
}
.preheatYourOvenContainer {
  height: 729px;
  width: 767px;
  position: relative;
  font-size: var(--body-1-size);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.cheesePizza350recipeParent {
  align-self: stretch;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-68xl);
  min-height: 779px;
  max-width: 100%;
  z-index: 2;
}
.loginButtonChild {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  min-height: 24px;
}
.backToMeal {
  position: relative;
  font-size: var(--headings-h6-size);
  font-weight: 600;
  font-family: var(--notification-2);
  color: var(--white);
  text-align: center;
}
.loginButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-base);
  background-color: var(--color-goldenrod-100);
  border-radius: var(--br-21xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  white-space: nowrap;
  z-index: 2;
}
.loginButton:hover {
  background-color: var(--color-darkgoldenrod);
}
.arrowArrowReloadOuntercl {
  height: 21px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.swapToOther {
  width: calc(100% - 53px);
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--notification-2);
  font-size: var(--headings-h6-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 106px;
}
.loginButton1,
.loginButtonWithArrow,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.loginButton1 {
  width: 239px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-300);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-base);
  gap: var(--gap-3xs);
  z-index: 2;
}
.loginButtonWithArrow,
.rectangleParent {
  width: 604px;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  max-width: 100%;
}
.rectangleParent {
  margin: 0;
  width: 818px;
  border-radius: var(--br-xl);
  background-color: var(--white-40);
  backdrop-filter: blur(26px);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-30xl);
  gap: var(--gap-53xl);
  z-index: 1;
}
@media screen and (max-width: 950px) {
  .cheesePizza350recipeContainer {
    font-size: var(--semibold-size);
  }
  .rectangleParent {
    gap: var(--gap-17xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 700px) {
  .cheesePizza350recipeParent {
    gap: var(--gap-24xl);
  }
  .loginButtonWithArrow {
    flex-wrap: wrap;
  }
  .rectangleParent {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cheesePizza350recipeContainer {
    font-size: var(--body-1-size);
  }
  .cheesePizza350recipeParent {
    gap: var(--gap-3xl);
  }
  .rectangleParent {
    gap: var(--gap-lg);
  }
}
