.frameChild {
  width: 294px;
  border-radius: var(--br-2xl);
  background: linear-gradient(
    180deg,
    rgba(251, 157, 17, 0.35) 0.52%,
    rgba(251, 157, 17, 0.69) 47.4%,
    rgba(251, 157, 17, 0.35)
  );
  height: 788px;
  display: none;
}
.frameChild,
.frameItem,
.new {
  position: relative;
}
.frameItem {
  height: 16.5px;
  width: 33px;
  border-radius: var(--br-26xl);
  background-color: var(--notification-red);
  display: none;
}
.new {
  font-weight: 500;
  z-index: 1;
}
.input,
.rectangleGroup {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleGroup {
  border-radius: var(--br-26xl);
  background-color: var(--notification-red);
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-7xs);
  z-index: 1;
}
.input {
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-10xs);
}
.groceryList01 {
  margin: 0;
  height: 35px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  display: none;
}
.vectorIcon {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.rectangleContainer {
  height: 14.4px;
  width: 14.4px;
  position: relative;
}
.editButton {
  border-radius: var(--br-5xl);
  background-color: var(--starving-orange);
  border: 0.6px solid var(--color-orange-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 6.600000381469727px 9.600000381469727px 6.600000381469727px
    var(--padding-3xs);
  cursor: pointer;
  z-index: 1;
}
.groceryList,
.topBanner {
  align-self: stretch;
  display: flex;
}
.topBanner {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--body-1-size);
  color: var(--black);
  font-family: var(--notification-2);
}
.groceryList {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  text-align: left;
  color: var(--white);
  font-family: var(--font-helvetica-neue);
}
.rectangleDiv {
  align-self: stretch;
  width: 260.4px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--white);
  display: none;
}
.yeast {
  position: relative;
  z-index: 1;
}
.mL {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupIcon,
.teaSpoon {
  position: relative;
  z-index: 1;
}
.teaSpoon {
  height: 20px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupIcon {
  height: 53px;
  width: 58px;
}
.frameChild1,
.groupDiv {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--white);
}
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mid);
  gap: var(--gap-mid);
  z-index: 1;
}
.frameChild1 {
  width: 260.4px;
  position: relative;
  display: none;
}
.water {
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.oil {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.g,
.ml,
.oil {
  display: flex;
}
.ml {
  height: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.g {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.frameChild2 {
  height: 53px;
  width: 58px;
  position: relative;
  z-index: 1;
}
.gParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-3xs);
}
.frameChild3,
.rectangleParent1 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--white);
}
.rectangleParent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-base);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameChild3 {
  width: 260.4px;
  position: relative;
  display: none;
}
.flour {
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flour,
.frameChild4,
.g1 {
  position: relative;
  z-index: 1;
}
.frameChild4 {
  height: 53px;
  width: 58px;
}
.gGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-3xs);
}
.frameChild5,
.rectangleParent2 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--white);
}
.rectangleParent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameChild5 {
  width: 260.4px;
  position: relative;
  display: none;
}
.oil1 {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g2,
.oil1,
.oilGroupChild {
  position: relative;
  z-index: 1;
}
.oilGroupChild {
  height: 53px;
  width: 58px;
}
.oilGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-3xs);
}
.frameChild6,
.rectangleParent3 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--white);
}
.rectangleParent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameChild6 {
  width: 260.4px;
  position: relative;
  display: none;
}
.salt {
  height: 19px;
  display: flex;
  align-items: center;
}
.g3,
.salt {
  position: relative;
  z-index: 1;
}
.simpleMealText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.topBannerTextChild {
  height: 53px;
  width: 58px;
  position: relative;
  z-index: 1;
}
.topBannerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.frameChild7,
.rectangleParent4 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--white);
}
.rectangleParent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-lgi);
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
}
.frameChild7 {
  width: 260.4px;
  position: relative;
  display: none;
}
.cheese {
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cheese,
.g4,
.mLFrameChild {
  position: relative;
  z-index: 1;
}
.mLFrameChild {
  height: 53px;
  width: 58px;
}
.mLFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-3xs);
}
.frameChild8,
.rectangleParent5 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--white);
}
.rectangleParent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-sm);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameChild8 {
  width: 260.4px;
  position: relative;
  display: none;
}
.cornmeal {
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cornmeal,
.frameChild9,
.teaSpoon1 {
  position: relative;
  z-index: 1;
}
.frameChild9 {
  height: 53px;
  width: 58px;
}
.teaSpoonParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-3xs);
}
.frameChild10,
.rectangleParent6 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--white);
}
.rectangleParent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-2xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameChild10 {
  width: 260.4px;
  position: relative;
  display: none;
}
.frameChild11,
.g5,
.potato1 {
  position: relative;
  z-index: 1;
}
.frameChild11 {
  height: 53px;
  width: 58px;
}
.gContainer {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-3xs);
}
.gContainer,
.potato,
.rectangleParent7 {
  display: flex;
  flex-direction: row;
}
.rectangleParent7 {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--white);
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-mini);
  gap: var(--gap-xl);
  z-index: 1;
}
.potato {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-9xs) 0;
}
.totalChild {
  align-self: stretch;
  width: 260.4px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--white);
  display: none;
}
.chicken {
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chicken,
.chickenFrameChild,
.g6 {
  position: relative;
  z-index: 1;
}
.chickenFrameChild {
  height: 53px;
  width: 58px;
}
.chickenFrame,
.chickenFrameWrapper {
  display: flex;
  justify-content: flex-start;
}
.chickenFrame {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lg);
}
.chickenFrameWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  font-size: var(--font-size-3xs);
}
.myGroceryList,
.total {
  align-self: stretch;
  display: flex;
}
.total {
  border-radius: var(--br-sm);
  background-color: var(--white);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-sm);
  gap: var(--gap-xl);
  z-index: 1;
}
.myGroceryList {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
  gap: var(--gap-base);
  font-size: var(--font-size-2xs);
}
.rectangleParent,
.total72 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.total72 {
  margin: 0;
  width: 260px;
  height: 39px;
  position: relative;
  font-size: var(--body-1-size);
  font-weight: 700;
  font-family: inherit;
  white-space: pre-wrap;
  justify-content: center;
}
.rectangleParent {
  width: 294px;
  border-radius: var(--br-2xl);
  background: linear-gradient(
    180deg,
    rgba(251, 157, 17, 0.35) 0.52%,
    rgba(251, 157, 17, 0.69) 47.4%,
    rgba(251, 157, 17, 0.35)
  );
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-sm) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  text-align: center;
  font-size: var(--font-size-2xs-5);
  color: var(--black);
  font-family: var(--notification-2);
}
