.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  backdrop-filter: blur(14px);
  width: 100%;
  height: 100%;
  display: none;
}
.forgot,
.rememberMe {
  top: 264px;
  font-size: var(--font-size-3xs);
  color: var(--black);
  text-align: center;
}
.rememberMe {
  position: absolute;
  left: 95px;
  font-family: var(--notification-2);
  z-index: 1;
}
.forgot {
  left: 310px;
  text-decoration: underline;
}
.forgot,
.frameInner,
.frameItem,
.signUp {
  position: absolute;
  font-family: var(--notification-2);
  z-index: 1;
}
.signUp {
  margin: 0;
  top: 71px;
  left: 144px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.frameInner,
.frameItem {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-cornsilk-100);
  top: 148px;
  left: 71px;
  border-radius: var(--br-3xs);
  height: 40px;
  padding: var(--padding-2xs) var(--padding-lg);
  box-sizing: border-box;
  font-size: var(--regular-size);
  color: var(--color-gray-300);
}
.frameInner {
  top: 212px;
}
.signUp1,
.signUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp1 {
  height: 24px;
  position: relative;
  font-size: var(--headings-h6-size);
  font-family: var(--notification-2);
  color: var(--white);
  text-align: center;
}
.signUpButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-2xl);
  background-color: var(--yellow);
  position: absolute;
  top: 303px;
  left: 71px;
  border-radius: var(--br-3xs);
  width: 283px;
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
  z-index: 1;
}
.signUpButton:hover {
  background-color: var(--color-goldenrod-200);
}
.alreadyAMember {
  color: var(--color-gray-300);
}
.logIn {
  color: var(--primary-brown);
}
.alreadyAMemberContainer1 {
  width: 100%;
}
.alreadyAMemberContainer {
  position: absolute;
  top: 363px;
  left: 135px;
  font-size: var(--regular-size);
  font-family: var(--notification-2);
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 1;
}
.richeckboxFillIcon {
  position: absolute;
  top: 265px;
  left: 71px;
  width: 14px;
  height: 14px;
  overflow: hidden;
  z-index: 1;
}
.pricing,
.pricing1,
.pricing2 {
  position: absolute;
  top: 474px;
  left: 90px;
  font-size: var(--headings-h6-size);
  text-transform: capitalize;
  font-family: var(--notification-2);
  color: var(--black);
  text-align: left;
  z-index: 1;
}
.pricing1,
.pricing2 {
  left: 177px;
}
.pricing2 {
  left: 272px;
}
.rectangleParent {
  margin: 0;
  position: absolute;
  top: 265px;
  left: 1187px;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  backdrop-filter: blur(14px);
  width: 426px;
  height: 526px;
  z-index: 1;
}
@media screen and (max-width: 750px) {
  .signUp {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .signUp {
    font-size: var(--font-size-3xl);
  }
}
