.loginChild {
  width: 426px;
  height: 526px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  backdrop-filter: blur(14px);
  display: none;
  max-width: 100%;
}
.email,
.LoginComponent {
  position: relative;
  font-family: var(--notification-2);
  color: var(--color-gray-500);
  text-align: center;
  z-index: 1;
}
.LoginComponent {
  margin: 0;
  height: 54px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error{
  font-weight: normal;
  font-size: small;
  color: red;
}
.errorInput {
  border: 2px solid red; /* Red border for the input field */
}
.email {
  font-size: var(--regular-size);
}
.rememberMeCheckbox,
.usernameText {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.usernameText {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-papayawhip);
  height: 40px;
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-mini);
  box-sizing: border-box;
  font-family: var(--notification-2);
  font-size: var(--headings-h6-size);
  color: var(--color-gray-500);
  min-width: 170px;
  z-index: 1;
}
.rememberMeCheckbox {
  flex-direction: column;
  align-items: flex-start;
}
.password,
.rememberMeCheckboxChild {
  font-family: var(--notification-2);
  color: var(--color-gray-500);
  z-index: 1;
}
.password {
  position: relative;
  font-size: var(--regular-size);
  text-align: center;
}
.rememberMeCheckboxChild {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-papayawhip);
  align-self: stretch;
  height: 40px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  box-sizing: border-box;
  font-size: var(--headings-h6-size);
  min-width: 170px;
}
.forgetPasswordLink,
.rememberMeCheckbox1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.forgetPasswordLink {
  flex: 1;
  gap: var(--gap-smi);
}
.richeckboxFillIcon {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rememberMe {
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--notification-2);
  color: var(--black);
  text-align: center;
  z-index: 1;
}
.starFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.forgot {
  position: relative;
  font-size: var(--font-size-3xs);
  text-decoration: underline;
  font-family: var(--notification-2);
  color: var(--black);
  text-align: center;
  z-index: 1;
}
.starIconsFrame {
  width: 276px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.signUp {
  position: relative;
  font-size: var(--headings-h6-size);
  font-family: var(--notification-2);
  color: var(--white);
  text-align: center;
}
.signUpButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm);
  background-color: var(--hungry-yelloe);
  align-self: stretch;
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.signUpButton:hover {
  background-color: var(--color-goldenrod-300);
}
.notAMember {
  color: var(--color-gray-300);
}
.signUp1 {
  color: var(--primary-brown);
}
.notAMemberContainer {
  position: relative;
  font-size: var(--regular-size);
  font-family: var(--notification-2);
  white-space: pre-wrap;
  text-align: center;
  z-index: 1;
}
.login,
.loginInputContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.login {
  margin: 0;
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  backdrop-filter: blur(14px);
  padding: var(--padding-55xl) var(--padding-53xl) var(--padding-66xl)
    var(--padding-52xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  z-index: 1;
}
@media screen and (max-width: 825px) {
  .LoginComponent {
    font-size: var(--font-size-10xl);
  }
  .login {
    padding-top: var(--padding-29xl);
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .LoginComponent {
    font-size: var(--font-size-3xl);
  }
  .login {
    gap: var(--gap-mini);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
