.frame {
  position: relative;
  line-height: 40.32px;
  z-index: 1;
}
.textFrame {
  height: 39.2px;
  width: 39.2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--grayscale-gray-4);
  border: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  transform: rotate(180deg);
  margin-top: -38px;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.groupFrameIcon {
  height: 2.24px;
  flex: 1;
  position: relative;
  border-top: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  min-width: 45px;
}
.div {
  position: relative;
  line-height: 40.32px;
  z-index: 1;
}
.frameChild {
  width: 39.2px;
  height: 39.2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--grayscale-gray-4);
  border: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  transform: rotate(180deg);
  margin-top: -39px;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div1,
.ellipse {
  position: relative;
}
.ellipse {
  height: 2.24px;
  flex: 1;
  border-top: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  min-width: 45px;
}
.div1 {
  line-height: 40.32px;
  z-index: 1;
}
.frameItem {
  width: 39.2px;
  height: 39.2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--grayscale-white);
  border: 2.2px solid var(--dark-brown);
  box-sizing: border-box;
  transform: rotate(180deg);
  margin-top: -39px;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--dark-brown);
}
.div2,
.ellipse1 {
  position: relative;
}
.ellipse1 {
  height: 2.24px;
  flex: 1;
  border-top: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  min-width: 45px;
}
.div2 {
  line-height: 40.32px;
  z-index: 1;
}
.frameInner {
  width: 39.2px;
  height: 39.2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--grayscale-gray-4);
  border: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  transform: rotate(180deg);
  margin-top: -39px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--grayscale-gray-6);
}
.div3,
.ellipse2 {
  position: relative;
}
.ellipse2 {
  height: 2.24px;
  flex: 1;
  border-top: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  min-width: 45px;
}
.div3 {
  line-height: 40.32px;
  z-index: 1;
}
.ellipseDiv {
  width: 39.2px;
  height: 39.2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--grayscale-gray-4);
  border: 2.2px solid var(--grayscale-gray-4);
  box-sizing: border-box;
  transform: rotate(180deg);
  margin-top: -39px;
}
.groupDiv,
.groupFrame,
.line {
  display: flex;
  justify-content: flex-start;
}
.groupDiv {
  flex-direction: column;
  align-items: center;
  color: var(--grayscale-gray-6);
}
.groupFrame,
.line {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.groupFrame {
  flex: 1;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-5xs);
}
.line {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-15xl) 0 var(--padding-sm);
}
.cuisine,
.cuisineWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuisine {
  height: 40.3px;
  flex: 1;
  position: relative;
}
.cuisineWrapper {
  align-self: stretch;
  flex-direction: row;
}
.textFrameInner {
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  color: var(--grayscale-gray-6);
}
.dietary,
.dietaryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dietary {
  height: 40.3px;
  flex: 1;
  position: relative;
}
.dietaryWrapper {
  align-self: stretch;
  flex-direction: row;
}
.textFrameChild {
  width: 73px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.frequency,
.size {
  margin: 0;
}
.sizeFrequencyContainer {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.sizeFrequencyWrapper {
  flex-direction: row;
}
.sizeFrequencyWrapper,
.timeComplexity,
.timeComplexityWrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeComplexity {
  position: relative;
}
.timeComplexityWrapper {
  flex-direction: row;
  color: var(--color-gray-600);
  padding: 0 var(--padding-sm)
}
.textFrame2 {
  height: 40px;
  width: 213px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  color: var(--black);
}
.budget,
.budgetWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.budget {
  height: 40.3px;
  flex: 1;
  position: relative;
}
.budgetWrapper {
  width: 82px;
  flex-direction: row;
}
.sizeFrequency,
.textFrame1 {
  display: flex;
  justify-content: flex-start;
}
.textFrame1 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-21xl);
  font-size: var(--message-2-size);
  color: var(--color-gray-600);
}
.sizeFrequency {
  align-self: stretch;
  flex-direction: column; 
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-smi);

}
@media screen and (max-width: 675px) {
  .groupFrame,
  .textFrame1 {
    flex-wrap: wrap;
  }
  .textFrame1 {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .div,
  .div1,
  .div2,
  .div3,
  .frame {
    font-size: var(--headings-h6-size);
    line-height: 32px;
  }
}
