.burgerIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.loginFrame,
.starsFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 613px;
  height: 594px;
}
.starsFrame {
  height: 620px;
  margin: 0 !important;
  top: -59px;
  left: -135px;
}
